.block{
    display: block;
    border-right:1px solid black;
    float:left;
}
.cont{
    display: block;
    float:left;
    width:70%;
}
.btnleft{
    display: inline-block;
    float:left;
    width:80%;
}

